<!DOCTYPE html>
<html lang="en" ng-app="productsAsideCategorys">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap/3.3.6/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/fore/style.css" type="text/css" />
    <script>
        $(function(){
            $("div.productsAsideCategorys div.row a").each(function(){
                var v = Math.round(Math.random() *6);
                if(v == 1)
                    $(this).css("color","#87CEFA");
            });
        });
    </script>
</head>
<body ng-controller="productsAsideCatrgorysCtrl">
<input type="hidden" ng-init="show()" />
<div class="productsAsideCategorys" ng-repeat="object in categoryss track by $index" id="{{object.id}}">
    <span ng-bind="object.name"></span>
    <div ng-repeat="objectByRows in object.productsByRow" class="row show1">
        <div ng-repeat="objectByRow in objectByRows" class="row show1">
            <a href="product.html?pid?={{objectByRow.id}}">{{objectByRow.subTitle}}</a>
        </div>
    </div>
</div>


</body>
<script src="../js/jquery/3.3.1/jquery-3.3.1.min.js" ></script>
<script src="../js/angularJs/angular.js"></script>
<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script src="../js/js/productsAsideCategorysController.js"></script>
</html>