<!DOCTYPE html>
<html lang="en" ng-app="productsAsideCategorys">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap/3.3.6/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/fore/style.css" type="text/css" />
    <script>
        $(function(){
            $("div.productsAsideCategorys div.row a").each(function(){
                var v = Math.round(Math.random() *6);
                if(v == 1)
                    $(this).css("color","#87CEFA");
            });
        });
    </script>
</head>
<body ng-controller="productsAsideCatrgorysCtrl">
<!--<c:forEach items="${cs}" var="c">-->
    <!--<div cid="${c.id}" class="productsAsideCategorys">-->

        <!--<c:forEach items="${c.productsByRow}" var="ps">-->
            <!--<div class="row show1">-->
                <!--<c:forEach items="${ps}" var="p">-->
                    <!--<c:if test="${!empty p.subTitle}">-->
                        <!--<a href="foreproduct?pid=${p.id}">-->
                            <!--<c:forEach items="${fn:split(p.subTitle, ' ')}" var="title" varStatus="st">-->
                                <!--<c:if test="${st.index==0}">-->
                                    <!--${title}-->
                                <!--</c:if>-->
                            <!--</c:forEach>-->
                        <!--</a>-->
                    <!--</c:if>-->
                <!--</c:forEach>-->
                <!--<div class="seperator"></div>-->
            <!--</div>-->
        <!--</c:forEach>-->
    <!--</div>-->
<!--</c:forEach>-->
<input type="hidden" ng-init="show()" />
<div class="productsAsideCategorys" ng-repeat="object in categoryss">
    <span ng-bind="object.name"></span>
    <div ng-repeat="objectByRow in object.productsByRow" class="row show1">
        <div ng-repeat="objectByRow in objectByRow" class="row show1">
            <a href="foreproduct?pid?={{objectByRow.id}}">{{objectByRow.subTitle}}</a>
        </div>
    </div>
</div>

</body>
<script src="../js/jquery/3.3.1/jquery-3.3.1.min.js" ></script>
<script src="../js/angularJs/angular.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../js/js/productsAsideCategorysController.js"></script>
</html>